.nav-selection:hover svg {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

svg {
  color: #0dfdd2;
}

.nav-selected span {
  /* color: yellow; */
  color: #fa094a;
}

.nav-selected svg {
  /* color: yellow; */
  color: #fa094a;
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
